@model Cinema.Models.Client

@{
    ViewData["Title"] = "Profile";
}

<br />
<h1>Profile</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@ViewBag.id" style="color:rgb(243,227,226)">Edit Profile</a> 
    <br />
    <a class="text-danger" asp-area="" asp-controller="Reservations" asp-action="ClientReservations">My Reservations</a>
</div>